html {
    font-size: 62.5%;
    background-color: black;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import 'header';
@import 'search-bar';
@import 'form-fields';
@import 'layout';
@import 'auth/auth-header.scss';
@import 'details';
@import 'footer';

//AUTH
@import 'auth/signin.scss'